body{
	font-family: Garamond;
}

#dealerHand{
	position: absolute;
	top: 20px
}
#playerHand{
	position: absolute;
	bottom: 20px;
}
#newGameBTN{
	position: absolute;
	left: 50%;
	margin-left: -125px;
	bottom: -150px;
	z-index: 50;
}
#gameCTRLS{
	position: absolute;
	width: 100%;
	bottom: -150px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#game{/*The game board*/
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 150px;
	color: gold;
	border-style: outset;
	border-width: 10px;
	border-radius: 20px;
	border-color: #b3856d;
	background-image: url("../imgs/table.jpg");
	background-repeat: repeat;
}

 /* For Small Screens */
 @media only screen and (min-width: 0px) and (max-width: 730px){
	#game{
		width: 80%;
		height: 70%;
		top: 150px;
		left: 10%;
	}
 }
 /* For Medium Screens */
 @media only screen and (min-width: 730px) and (max-width: 1400px){
	#game{
		width: 80%;
		top: 150px;
		height: 70%;
		left: 10%;
	}
 }
 /* For large Screens */
 @media only screen and (min-width: 1400px){
	#game{
		width: 60%;
		height: 65%;
		left: 20%;
	}
 }

.gameCTRL{
	visibility: hidden;
}
.gameBTN:hover{
	opacity: 0.8;
}
.gameBTN{
	background-color: #f34a55;
	width: 250px;
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	border-width: 0;
	cursor: pointer;
	/*transition: .4s; cool effect but messes up load TODO: make this work properly*/
}
#betAmountLBL{
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -90px;
	text-align: center;
	font-size: 2em;
}

#deck{
	z-index: -1;
	position: absolute;
	left: 50px;
	vertical-align: middle;
	width: 100px;
}


/*Slider CSS*/
.slidecontainer {
	width: 100%; /* Width of the outside container */
}
/* The slider itself */
.slider {
	position: absolute;
	left: 50%;
	margin-left: -250px;
	bottom: 100px;
	-webkit-appearance: none;
	width: 500px;
	height: 15px;
	border-radius: 5px;  
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
/*TODO: Get dollar sign .png slider to work*/
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

/*EVERYTHING BELOW HANDLES CARD FLIP ANIMATION:
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.card {
  display: inline-block;
  width: 100px;
  height: 155px;
  margin: 10px;
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when .card class receives the .flipped class */
.card.flipped{
  transform: rotateY(180deg);
}

/* Position the front and back side */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transition: 0.0s;
}

.card-front {
  transform: rotateY(180deg);
}
